In [1]:
import pandas as pd

In [4]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"])
bigmac.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [5]:
bigmac.dtypes

Date                   datetime64[ns]
Country                        object
Price in US Dollars           float64
dtype: object

In [6]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 652 non-null    datetime64[ns]
 1   Country              652 non-null    object
 2   Price in US Dollars  652 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

In [10]:
bigmac.nunique()

Date                    12
Country                 58
Price in US Dollars    330
dtype: int64

In [12]:
bigmac.set_index(keys=["Date", "Country"], inplace=True)

In [13]:
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [15]:
bigmac.sort_index(inplace=True)

In [16]:
bigmac.index

MultiIndex([('2010-01-01',      'Argentina'),
            ('2010-01-01',      'Australia'),
            ('2010-01-01',         'Brazil'),
            ('2010-01-01',        'Britain'),
            ('2010-01-01',         'Canada'),
            ('2010-01-01',          'Chile'),
            ('2010-01-01',          'China'),
            ('2010-01-01',       'Colombia'),
            ('2010-01-01',     'Costa Rica'),
            ('2010-01-01', 'Czech Republic'),
            ...
            ('2016-01-01',    'Switzerland'),
            ('2016-01-01',         'Taiwan'),
            ('2016-01-01',       'Thailand'),
            ('2016-01-01',         'Turkey'),
            ('2016-01-01',            'UAE'),
            ('2016-01-01',        'Ukraine'),
            ('2016-01-01',  'United States'),
            ('2016-01-01',        'Uruguay'),
            ('2016-01-01',      'Venezuela'),
            ('2016-01-01',        'Vietnam')],
           names=['Date', 'Country'], length=652)

In [20]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [21]:
bigmac.loc["2010-01-01", "Argentina"]

Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64